ATTACHMENT_S3_BUCKET=upan
ATTACHMENT_S3_PREFIX=files
ATTACHMENT_S3_ACCESS_KEY_ID=
ATTACHMENT_S3_SECRET_ACCESS_KEY=
ATTACHMENT_S3_REGION=cn-beijing
ATTACHMENT_S3_ENDPOINT=https://s3.aimo.plus
PORT=3010
MAX_UPLOAD_BYTES=536870912
